/* general */
header {
    min-height: 56px; /* so that content doesn't jump down when js loads navbar */
    margin-bottom: 20px;
}

.card-text {
    height: 3rem;
}

code {
    color: inherit;
}

/* fixed icon width */
.fixicon {
    width: 2em; 
    text-align: center;
}

/* table */
.fixedtable {
    table-layout: fixed;
    word-wrap: break-word;
}

.center-first-column tr :nth-child(1) {
    text-align: center;
    width: 6em;
}

/* progressbar */
#progress {
    margin-top: 0.3rem;
    height: 1.4rem;
}
#progressbarText {
    font-size:1rem;
}

/* right aligned checkbox */
.float-right-custom {
    text-align: left;
}
@media (min-width: 768px) {
    .float-right-custom {
        text-align: right;
    }
}
