<nav class="navbar navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/toolbox">Toolbox</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/toolbox/morse">
                        <i class="fas fa-comment-dots fixicon"></i>Morse code
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/toolbox/caesar">
                        <i class="fas fa-crown fixicon"></i>Caesar cipher
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/toolbox/verbal">
                        <i class="fas fa-plus fixicon"></i>Verbal arithmetic
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/toolbox/python-snippets">
                        <i class="fab fa-python fixicon"></i>Python code snippets
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/toolbox/python-format">
                        <i class="fas fa-align-center fixicon"></i>Python <code>format</code> strings
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/toolbox/strftime">
                        <i class="fas fa-clock fixicon"></i><code>strftime</code> reference
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/toolbox/links">
                        <i class="fas fa-link fixicon"></i>Other tools
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>